:root{
  --main-bg-color: rgb(78, 78, 78);
  --main-color: rgb(247, 247, 247);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input{
  text-align: center;
  margin: 10rem; /*root element font size*/
}

input[type="text"]{
  width: 15rem;
  height: 30px;
  border-radius: 5px;
  border: 1px outset var(--main-color);
  background-color: var(--main-color);
  padding-left: 10px;
}

input[type="submit"]{
  height: 30px;
  width: 70px;
  color:var(--main-bg-color);
  border: 1px outset var(--main-color);
  border-radius: 5px;
}

input[type="text"]:focus-visible{
  outline: auto 1px var(--main-bg-color);
}

input[type="submit"]:active{
  background-color: rgb(218, 218, 218);
}